.header{
	text-align: center;
	text-shadow: yellow;
	padding: 2vh 1vw; 	
	width: 98%;
	background-color: red;
}

.mynew{

	font-size: 1vw;
}

.sticky{
 position:  fixed;
    top: 0;
    width: 97%;

}